<footer>
    <h3>
        Contact BCE
    </h3>
    <address>
        <span class="glyphicon glyphicon-earphone"></span>
        <b>Phone: </b>
        <a href="tel:510-274-1990">
            (510) 274-1990
        </a>
        <br>

        <span class="glyphicon glyphicon-envelope"></span>
        <b>Email: </b>
        <a href="mailto:sales@belilove.com">
            sales@belilove.com
        </a>
        <br>

        <span class="glyphicon glyphicon-time"></span>
        <b>Business Hours: </b>
        7:00AM - 4:00PM PST
    </address>
    <h6>
        Version: {{ appVersion }}
    </h6>
</footer>