<p>product-preview works!</p>
<div class="form-row">
    <div class="input-group">
        <app-section-label [sectionName]="'Part Preview'"></app-section-label>
        <div class="part-preview-small">
            <div class="flex-container">
                <img [src]="imagePathWire" alt="Wire Left Image" class="lead-part">
                <img [src]="imagePathFeedThrough" alt="Feed Through Image" class="feed-through-part">
                <img [src]="imagePathWire" alt="Wire Right Image" class="lead-part">
            </div>
        </div>
    </div>
</div>