<div class="container">
  <div>
    <app-navbar></app-navbar>
    <h1>
      BCE Vacuum Feedthrough Builder
    </h1>
    <div>
      * = Required Field
      <h6>
        † All vacuum feedthroughs are leak tested 10 <sub>-7</sub>
        to 10 <sub>-9</sub>atm-cc/sec 
      </h6>
      <h6>
        †† Dimensions are show in inches.
      </h6>
    </div>
    <app-product-fields></app-product-fields>
    <app-product-preview></app-product-preview>
    <app-footer></app-footer>
  </div>
</div>


