$groupBlue: rgb(54,95,145);

/*Label for the Different Sections*/
.control-label {
	text-align: center;
	border-style: solid;
	border-width: 1px;
	text-align: center;
	color: $groupBlue;
	width: 100px;
	margin: 0px; 
	padding: 0px; 
	padding-top: 3px; 
	padding-bottom: 3px; 
	margin-left: 4px;
	margin-right: 8px;
	text-align: center;
}