<div class="form-row">
    <div class="input-group">
        <label class="input-group-addon" for="quantity-box">
            Quantity*
        </label>
        <input class="form-control" type="number">
    </div>
</div>

<div class="form-row">
    <label class="control-label">
        Feedthrough
    </label>
    <div class="input-group">
        <label class="input-group-addon" for="feed-through-type-box">
            Type*
        </label>
        <select class="form-control"></select>
    </div>
</div>

