<div *ngIf="this.formQuantity.invalid && (this.formQuantity.dirty || this.formQuantity.touched)" class="alert alert-danger">
    <div *ngIf="this.formQuantity.errors.required">
        Quantity is required.
    </div>
    <div *ngIf="this.formQuantity.errors.min">
        Quantity must be at least 1
    </div>
    <div *ngIf="this.formQuantity.errors.max">
        Quantity must be at most 1000
    </div>
</div>

<div *ngIf="this.formFeedThroughType.invalid && (this.formFeedThroughType.dirty || this.formFeedThroughType.touched)" class="alert alert-danger">
    <div *ngIf="this.formFeedThroughType.errors.required">
        Feedthrough Type is required.
    </div>
</div>
<div *ngIf="this.formFeedThroughSize.invalid && (this.formFeedThroughSize.dirty || this.formFeedThroughSize.touched)" class="alert alert-danger">
    <div *ngIf="this.formFeedThroughSize.errors.required">
        Feedthrough Size is required.
    </div>
</div>
<div *ngIf="this.formWireGauge.invalid && (this.formWireGauge.dirty || this.formWireGauge.touched)" class="alert alert-danger">
    <div *ngIf="this.formWireGauge.errors.required">
        Wire Gauge is required.
    </div>
</div>

<div *ngIf="this.formLeadCount.invalid && (this.formLeadCount.dirty || this.formLeadCount.touched)" class="alert alert-danger">
    <div *ngIf="this.formLeadCount.errors.required">
        Number of Leads is required.
    </div>
    <div *ngIf="this.formLeadCount.errors.min">
        Number of Leads must be at least 1
    </div>
    <div *ngIf="this.formLeadCount.errors.max">
        Number of Leads must be at most {{ this.maxLeadOutput }}
    </div>
</div>

<div *ngIf="this.formLeadLengthVacuum.invalid && (this.formLeadLengthVacuum.dirty || this.formLeadLengthVacuum.touched)" class="alert alert-danger">
    <div *ngIf="this.formLeadLengthVacuum.errors.required">
        Vacuum Side Lead Length is required.
    </div>
    <div *ngIf="this.formLeadLengthVacuum.errors.min">
        Vacuum Side Lead Length must be at least 30 inches
    </div>
    <div *ngIf="this.formLeadLengthVacuum.errors.max">
        Vacuum Side Lead Length must be at most 120 inches
    </div>
</div>

<div *ngIf="this.formLeadLengthAtmosphere.invalid && (this.formLeadLengthAtmosphere.dirty || this.formLeadLengthAtmosphere.touched)" class="alert alert-danger">
    <div *ngIf="this.formLeadLengthAtmosphere.errors.required">
        Atmosphere Side Lead Length is required.
    </div>
    <div *ngIf="this.formLeadLengthAtmosphere.errors.min">
        Atmosphere Side Lead Length must be at least 30 inches
    </div>
    <div *ngIf="this.formLeadLengthAtmosphere.errors.max">
        Atmosphere Side Lead Length must be at most 120 inches
    </div>
</div>

<div *ngIf="this.formMinOperatingTemperature.invalid && (this.formMinOperatingTemperature.dirty || this.formMinOperatingTemperature.touched)" class="alert alert-danger">
    <div *ngIf="this.formMinOperatingTemperature.errors.required">
        Min Operating Temperature is required.
    </div>
</div>

<div *ngIf="this.formMaxOperatingTemperature.invalid && (this.formMaxOperatingTemperature.dirty || this.formMaxOperatingTemperature.touched)" class="alert alert-danger">
    <div *ngIf="this.formMaxOperatingTemperature.errors.required">
        Max Operating Temperature is required.
    </div>
</div>

<div *ngIf="this.formMaxFeedThroughExposureTemperature.invalid && (this.formMaxFeedThroughExposureTemperature.dirty || this.formMaxFeedThroughExposureTemperature.touched)" class="alert alert-danger">
    <div *ngIf="this.formMaxFeedThroughExposureTemperature.errors.required">
        Max Feedthrough Exposure Temperature is required.
    </div>
</div>

<div *ngIf="this.formDurationFeedThroughExposureTemperature.invalid && (this.formDurationFeedThroughExposureTemperature.dirty || this.formDurationFeedThroughExposureTemperature.touched)" class="alert alert-danger">
    <div *ngIf="this.formDurationFeedThroughExposureTemperature.errors.required">
        Duration Feedthrough Exposure Temperature is required.
    </div>
</div>

<form class="form-inline" [formGroup]="productForm" (ngSubmit)="checkPhoneOrEmail()">
    
    <div class="form-row">
        <div class="input-group">
            <label class="input-group-addon" for="quantity-box">
                Quantity*
            </label>
                <input class="form-control" type="number" formControlName="quantity">          
        </div>
    </div>

    <div formGroupName="vacuumFeedThroughForm">
        <div class="form-row">
            <app-section-label [sectionName]="'Feedthrough'"></app-section-label>
            <div class="input-group">
                <label class="input-group-addon" for="feed-through-type-box">
                    Type*
                </label>
                <select class="form-control" formControlName="feedThroughType">
                    <option *ngFor="let type of feedThroughTypes; let i = index" [value]="feedThroughTypes[i].id">
                        {{ feedThroughTypes[i].name }}
                    </option>
                </select>
            </div>

            <div class="input-group">
                <label class="input-group-addon" for="feed-through-size-box">
                    Size*
                </label>
                <select class="form-control" formControlName="feedThroughSize">
                    <option *ngFor="let size of feedThroughSizes; let i = index" [value]="feedThroughSizes[i].partID">
                        {{ feedThroughSizes[i].partName }}
                    </option>
                </select>
            </div>
        </div>

        <div class="form-row">
            <app-section-label [sectionName]="'Leads'"></app-section-label>
            <div class="input-group">
                <label class="input-group-addon" for="wire-gauge-box">
                    Wire Gauge*
                </label>
                <select class="form-control" formControlName="wireGauge">
                    <option *ngFor="let gauge of wireGauges; let i = index" [value]="wireGauges[i].wireID">
                        {{ wireGauges[i].wireName }}
                    </option>
                </select>
            </div>

            <div class="input-group">
                <label class="input-group-addon" for="lead-count-box">
                    Number of Leads* (Max $: {{ this.maxLeadOutput }})
                </label>
                <input class="form-control" type="number" formControlName="leadCount" min="1">
            </div>

            <br>

            <div class="input-group">
                <label class="input-group-addon" for="lead-length-vacuum-box">
                    Vacuum Side Lead Length*
                </label>
                <input class="form-control" type="number" formControlName="leadLengthVacuum" min="30" max="120">
            </div>

            <div class="input-group">
                <label class="input-group-addon" for="lead-length-atmosphere-box">
                    Atmosphere Side Lead Length*
                </label>
                <input class="form-control" type="number" formControlName="leadLengthAtmosphere" min="30" max="120">
            </div>
        </div>

    </div>
    <div formGroupName="temperatureForm">
        <div class="form-row">
            <app-section-label [sectionName]="'Temperatures'"></app-section-label>
            <div class="input-group">
                <div class="notes-box input-group-addon">
                    <span class="input-group-text">
                        Operating Temperature &deg;C*
                    </span>
                </div>
                <input type="text" formControlName="minOperatingTemperature" class="form-control" placeholder="Min Operating Temp °C">
            </div>
            &nbsp; to &nbsp;
            <input type="text" formControlName="maxOperatingTemperature" class="form-control" placeholder="Max Operating Temp °C">
            <br>
            <div class="input-group">
                <div class="notes-box input-group-addon">
                    <span class="input-group-text">
                        Max Feedthrough Exposure Temperature &deg;C*
                    </span>
                </div>
                <input type="text" formControlName="maxFeedThroughExposureTemperature" class="form-control" placeholder="Exposure Temp °C" data-toggle='tooltip' title='Maximum temperature the feedthrough body will be exposed to'>
            </div>
            <div class="input-group">
                <div class="notes-box input-group-addon">
                    <span class="input-group-text">
                        Exposure Duration*
                    </span>
                </div>
                <input type="text" formControlName="durationFeedThroughExposureTemperature" class="form-control" placeholder="Exposure Duration" data-toggle='tooltip' title='Duration the feedthrough body will be exposed'>
            </div>
        </div>
    </div>
    <app-product-preview></app-product-preview>
    <br>
    <br>
    <br>
    <br>
    <h6>††† Visual is intended for reference and not to scale.</h6> 
    <h6>This application is intended to simplify the feedthrough request process for the average user.</h6> 
    <h6>If you require something that is not currently available with the given selections, please feel free to give us the details in the application notes below so we can better assist you.</h6> 
    <div formGroupName="notesForm">
        <div class="form-row">
            <div class="input-group">
                <div class="notes-box input-group-addon">
                    <span class="input-group-text">
                        Application Notes
                    </span>
                </div>
                <textarea type='text' formControlName="applicationNotes" cols="108" rows="3" class="form-control" placeholder='Enter any pertinent application information here'></textarea>
            </div>
        </div>
        <div class="form-row">
            <div class="input-group">
                <div class="notes-box input-group-addon">
                    <span class="input-group-text">
                        Customer Notes
                    </span>
                </div>
                <textarea type='text' formControlName="customerNotes" cols="108" rows="3" class="form-control" placeholder="If you'd like to inquire about custom orders, options not shown, or more information, please let us know."></textarea>
            </div>
        </div>
    </div>
    <div class="form-row">
        <button class="btn btn-primary" type="submit" [disabled]="productForm.invalid" [ngStyle]="{'cursor': (productForm.invalid? 'not-allowed':'pointer')}">Request a Quote</button>
    </div>
</form>
<div>
    {{ productForm.value | json }}
    {{ productForm.status }}
</div>
